    .contact-container {
      display: flex;
      flex-wrap: wrap;
      min-height: 100vh;
    }

    .contact-info {
      flex: 1 1 35%;
      background: skyblue;
      color: white;
      padding: 40px;
    }

    .contact-info h2 {
      margin-bottom: 20px;
      font-size: 24px;
    }

    .info-item {
      margin-bottom: 20px;
    }

    .info-item i {
      margin-right: 10px;
    }

    .contact-form {
      flex: 1 1 65%;
      background: white;
      padding: 40px;
    }

    .contact-form h2 {
      margin-bottom: 20px;
      color: skyblue;
    }

    .form-group {
      margin-bottom: 15px;
    }

    #whatsappForm{
        width: 40rem;
    }
    label {
      display: block;
      margin-bottom: 6px;
      color: #333;
    }

    input, select, textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 1rem;
    }

    textarea {
      resize: vertical;
      height: 100px;
    }

    button {
      background: skyblue;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
    }

    button:hover {
      background: skyblue;
    }

    /* Responsive */
    @media screen and (max-width: 768px) {
      .contact-container {
        flex-direction: column;
      }

      .contact-info, .contact-form {
        flex: 1 1 100%;
        padding: 20px;
      }
    }